{{#foreach posts}}
  <article class="{{post_class}}">
    <header class="post-header">
      <a href="{{url}}"><img src="{{img_url feature_image}}" alt=""></a>
      <div class="post-body">
        <h6 class="post-title"><a href="{{url}}">{{title}}</a></h6>
        <section class="post-excerpt">
          <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
        </section>
      </div>
    </header>
  </article>
{{/foreach}}
